<!DOCTYPE html>

<html lang="en" >
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/buger_style.css" type="text/css"/>
		<title>BURGER TIME BABY!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<scrip src="../../public/assets/js/burgerJS.js" ></script>

</head>
<body>
	{{{ body }}}
</body>

</html>