<!DOCTYPE html>

<html lang="en" >
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/burgerEating/public/assets/css/buger_style.css" type="text/css"/>
		<title>BURGER TIME BABY!</title>
		<script src="https://code.jquery.com/jquery.js"></script>


</head>
<body>
	{{{ body }}}
</body>
	<script src="/burgerEating/public/assets/js/burgerJS.js" ></script>
</html>