{{!-- This will be where we add our burgers  --}}

<h1>DA BURGERS</h1>

<ul>
  {{#each burgers}}
  <button class="delete-burger" data-id="{{burgers}}"> EAT IT </button>
  {{/each}}
</ul>

<h2>MAKE DA BURGERS</h2>
<form class="create-form">

  <div class= "form-group" >
    <label for="burg"> BURGER TYP</label>
    <input type="text" id="burg" name="name">
  </div>

</form>

{{!-- from example CatAppp use public/assets/js/cat.js to write out JS  --}}

<script type="text/javascript" >
  $(function(){
    $(".create-form").on("click", function(event){
      //so the form doesnt reset for no reason
      event.preventDefault();

      var newBurger = {
        name: $("#burg").val().trim(),
        devoured: false; 
      };

      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(function(){
        console.log("created BURGER");
        location.reload();
      }) 

    })// end of .create-form
  }) // end of oriignal function
</script>