{{!-- This will be where we add our burgers  --}}
<header>Eat Burgers</header>

<section class"container">
  <div class="container" >
    <ul>
      {{#each burger}}
        {{#unless devoured}}
      <button class="delete-burger" data-id="{{this.id}}"> EAT IT </button>
        {{/unless}}
      {{/each}}
    </ul>

    <ul>
      {{#each burger}}
        {{#if devoured}}
      <button class="delete-burger" data-id="{{this.id}}"> EAT IT </button>
        {{/if}}
      {{/each}}
    </ul>

    <h2>MAKE DA BURGERS</h2>
    <form id="create-form">

      <div class= "form-group" >
        <label for="burg"> BURGER TYPE</label>
        <input type="text" id="burger" name="burger">
      </div>
      <button type="submit">Add burger</button>
    </form>

  </div>
</section>

<script type="text/javascript" >
console.log("index");
</script>