{{!-- This will be where we add our burgers  --}}

<h1>DA BURGERS</h1>

<ul>
  {{#each burgers}}
  <button class="delete-burger" data-id="{{burgers}}"> EAT IT </button>
  {{/each}}
</ul>

<h2>MAKE DA BURGERS</h2>
<form class="create-form">

  <div class= "form-group" >
    <label for="burg"> BURGER TYP</label>
    <input type="text" id="burg" name="name">
  </div>

</form>


